/* Default Style */
tr {
    vertical-align: top;
}

p, marquee {
    font-family: "Muli";
    margin: 0;
}

a:link, a:active {
    color: brown;
}

a:visited {
    color: rgb(94, 157, 194);
}

a:hover {
    color: gray;
}

.btn-danger{
    background-color: #b95d5d;
    border-color: thistle;
}

.btn-danger:hover {
    background-color: #c56969;
    border-color: white;
}

/* ------------------------------------- Style Pertama -----------------------------------*/
.modalWidth{
    width: 600px;
}

.modalStyle{
    height: auto;
    display: none;
}

.insideModalStyle {
    height: auto;
    border-radius: 1rem 1rem 0px 0px;
    background-color: #ce7373;
    padding: 20px;
}

.belowModalStyle {
    height: 100px;
    background-color: white;
    border-radius: 0px 0px 1rem 1rem;
}   

.iconStyle {
    height: 90%;
    width: 90%;
}

.textKeterangan{
    text-align: left;
    display: flex;
    margin: auto;
    color: white;
}

.contentModalStyle {
    text-align: center;
    padding: 25px 0px 20px 0px;
    font-size: larger;
    font-family: 'Quicksand';
    color: #6d6d6d;
}

.judulStyle {
    font-family: "Open Sans";
    font-size: 2.5rem;
}

.btnModifyStyle1 {
    padding: .5rem 5rem;
    border-radius: 2rem;
    font-size: 1.2rem;
    font-family: 'Maven Pro';
    color: white;
    background-color: #F45A4F;
    box-shadow: 2px 2px 5px black;
}

.btnModifyStyle1:hover {
    background: rgb(179, 42, 32);
}

/*------------------------------------- Style kedua ------------------------------------*/
.insideModalStyle2 {
    height: auto;
    border-radius: 1rem 1rem 0px 0px;
    background-color: white;
    padding: 20px;
}

.belowModalStyle2 {
    height: 100px;
    background-color: #ce7373;
    border-radius: 0px 0px 1rem 1rem;
}   

.warnaTulisan1 {
    color: black;
}

.contentModalStyle2 {
    text-align: center;
    padding: 25px 0px 20px 0px;
    font-size: larger;
    font-family: 'Quicksand';
    color: white;
}

.btnModifyStyle2 {
    padding: .5rem 5rem;
    border-radius: 2rem;
    font-size: 1.2rem;
    font-family: 'Maven Pro';
    color: white;
    background-color: #2C3045;
    box-shadow: 2px 2px 5px black;
}

.btnModifyStyle2:hover {
    background: #F45A4F;
}

/* ------------------------------------- Style ketiga ---------------------------------- */
.modalWidth3{
    width: 400px;
    box-shadow: 5px 5px 8px #888888;
}

.modalStyle3{
    height: auto;
    display: none;
}

.insideModalStyle3 {
    height: auto;
    border-radius: 0.3rem 0.3rem 0px 0px;
    background-color: white;
    padding: 25px;
}

.belowModalStyle3 {
    max-height: 120px;
    background-color: #F45A4F;
    border-radius: 0px 0px 0.3rem 0.3rem;
}   

.iconStyle3 {
    height: 35%;
    width: 35%;
}

.hr1 {
    border-color: white;
    border-width: 0.5px;
}

.textKeterangan3{
    text-align: left;
    display: flex;
    margin: auto;
    color: gray;
    padding: 0px 10px;
}

.btnModifyStyle3 {
    width: 100%;
    padding: 1rem 0rem;
    border-radius: 0px 0px 0.3rem 0.3rem;
    font-size: 1.2rem;
    font-family: 'Maven Pro';
    color: white;
    background-color: rgb(179, 42, 32);
}

.btnModifyStyle3:hover {
    background: #F45A4F;
}

/* ------------------------------------- Style keempat ----------------------------*/
.modalWidth4{
    width: 450px;
    background-color: #eeeeee;
    border-radius: 0.25rem;
}

.modalStyle4{
    height: auto;
    display: none;
}

.insideModalStyle4 {
    height: 65px;
}

.belowModalStyle4 {
    max-height: 120px;
    padding: 15px 10px 35px 10px;
}   

.contentModalStyle4 {
    text-align: center;
    padding: 20px 5px 10px 5px;
    font-family: 'Quicksand';
    color: grey;
}

.iconStyle4 {
    height: 35%;
    width: 35%;
    position: absolute;
}

.textKeterangan4{
    text-align: left;
    display: flex;
    margin: auto;
    color: gray;
    padding: 10px 25px 5px 25px;
}

.judulEmergency4 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 600;
    color: brown;
}

.garisPembatas4 {
    height: 0.125rem;
    background-color: maroon;
}

.btnModifyStyle4 {
    padding: 0.45rem 3rem;
    border-radius: 0.35rem;
    font-size: 1.2rem;
    font-family: 'Maven Pro';
    color: white;
    background-color: #2C3045;
}

.btnModifyStyle4:hover {
    background-color: rgb(72, 77, 100);
}
